
body{
    background-color: rgb(86, 81, 74);
    justify-content: center;
    text-align: center;
    display: grid;
    background-size: cover;
}

.wrapper{
    border: 2px solid rgb(7, 7, 7);
    height: 800px;
    width: 700px;
    padding-top: 0px;
    margin-top: 20px;
    background-image: linear-gradient(to top,rgba(10, 9, 9, 0.8),rgba(16, 14, 14, 0.8)),url(./img/logo.png);
    color: aliceblue;
    background-size: 200px;
    
  
}

h2{
    border: 2px solid rgb(18, 18, 17);
    height: 50px;
    width: 698px;
    margin-top: -10px;
    padding-top: 8px;
    color: black;
    background-color: beige;
}

img{
    width: 100px;
    height: 100px;
    display: flex;
    padding-left: 30px;
}

.text1{
    margin-top: 10px;
    padding-bottom: 40px;
    padding-right: 530px;
}

.text2{
    padding-right:530px ;
    margin-top: 10px;
}

a{
    color: white;
    text-decoration: none;
}

.side{
    margin-top: -385px;
    padding-left: 540px;
    display:grid;
}

.text4{
    padding-top: 10px;
}

.text3{
      padding-bottom: 50px;
}

.middle{
    padding-left: 280px;
    margin-top: -420px;
}

.text5{
    padding-right: 250px;
    padding-bottom: 50px;
}

.text6{
    padding-right: 250px;
}