body{
    background-color: rgb(52, 103, 72);
    align-content: center;
    justify-content: center;
    position: relative;
    text-align: center;
    display: flex;
}

.container{
    border: 2px solid rgb(127, 165, 127);
    width: 500px;
    height: 1150px;
    align-items: center;
    justify-content: center;

}

.staff{
    border: 2px solid  rgb(127, 165, 127);
    height: 50px;
    width: 500px;

}
ul{
    list-style: none;
}